<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Lista de animais
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="animais != null">

    <ion-item-sliding *ngFor="let animal of animais">
        
     <ion-item>{{animal.nome}}
       <p> <b>Porte:</b> {{animal.porte}} ...
            <b>Pelagem:</b> {{animal.pelagem}}
       </p>
       <p>
         <b>Sexo: </b> {{animal.prop_sexo}}
         <b>Moradia ideal:</b> {{animal.moradia}}
       </p>
       <p>
          <b>Amigável c/ criança:</b> {{animal.prop_amigavel_crianca}}
       </p>
       <p>
          <b>Cão de guarda:</b> {{animal.prop_guarda}}
       </p>
       <p>
         <b>Brincalhão:</b> {{animal.prop_brincadeira}}         
       </p>
       <p>
        <b>Necessidade de correr:</b> {{animal.prop_exercicio}}
      </p>
      <p>
        <b>Solta muitos pêlos:</b> {{animal.prop_queda_pelo}}
      </p>
       <p>
          <b>Tendência em latir:</b> {{animal.prop_tendencia_latir}}
       </p>
     </ion-item>


      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="editAnimal(animal)">
          <ion-icon name="create"></ion-icon>
        </button>

        <button ion-button color="danger" (click)="removeAnimal(animal.key)">
          <ion-icon name="trash"></ion-icon>
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="newAnimal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>